
header{
  display: flex;
  align-content:flex-end;
}
header img {
  display: flex;
  width: 300px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px 20px;
  transition: transform 0.3s ease;
}

header img:hover {
  transform: scale(1.05);
}
.header-container{
  display: flex;
  flex: 50%;
  justify-content: space-around;
  gap: normal;
  align-content: center;

}

#nav {
  display: flex;

}

nav{
  display: flex;
  flex: 100%;
  align-content: center;
  background-color:white;
  padding:10px;
  border:100px;

}
nav a{
  color:midnightblue;
  font-family:"Lucida Fax";
  font-size:x-large;
  font-weight: bolder;
  text-decoration:none;
  margin:0 1%;

}
nav a:visited{
  color: cornflowerblue;
}
nav a:hover{
  color:royalblue;
}
nav a:active{
  color:darkblue;
}
/* === Main Intro === */
.main-container {
  display: flex;
  flex: 100%;
  flex-direction: row;
  row-gap: normal;
  background-color: dodgerblue;
  padding: 100px;
}

.main-column1-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-intro-text {
  font-family: 'Lucida Fax', serif;
  font-size: xxx-large;
  justify-content: space-between;
  align-items: flex-start;
}

.main-inscription-button{
  display: flex;
  justify-content: center;
  align-content: center;
  padding:20px;
}
.main-inscription-button button {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: red;
  border: none;
  cursor: pointer;
}

/* === Main Pub Links === */
.main-pub-link-brochures {
  display: flex;
  justify-content: center;
  align-items:center;
  gap: 10px;
  background-color: dodgerblue;
  font-weight: bold;
  font-size: x-large;
}

.main-pub-link-brochures a {
  color: white;
  text-decoration: none;
  align-content: flex-start;

}

.main-pub-link-brochures img {
  flex: fit-content;
  width: 64px;
  height: 64px;
  object-fit: contain;
  margin-right: 10px;
}

/* === Gallery === */
.main-column2-gallery {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  flex-wrap: wrap;
}

  .main-column2-gallery img {
    width: auto;
    height:auto;
  }

  /* === Footer === */

  .footer-container {
    background-color: #555;
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
  }

  .footer-column-container {
    display: flex;
    flex-direction: row;
    columns: 3;
    justify-content: space-around;
    gap: 2px;
    padding: 1%;
  }
  .footer-column1-contact{
    display: flex;
    flex-direction: column;

  }
#icon-footer-laplateforme{
   display: flex;
   width: 100%;
   height: 50%;
}

  .footer-column1-contact img {
    width: 30px;
    height: 30px;
  }

  .footer-contact-icon a img {
    width: 30px;
    height: 30px;
    margin: 5px;
    padding:-10px;
  }

  .footer-column1-contact-ligne {
    display: flex;
    flex: fit-content;
    color: black;
    border: #cccccc;
    text-decoration: none;
    font-weight: bold;
    justify-content: center;
    padding: 5%;

  }
.footer-column1-contact-brochure{
  display: flex;
  justify-content: center;
  padding: 5%;
}

.footer-column1-contact-brochure button{
    background-color: red;
    color: white;
    text-decoration: none;
    font-weight: bold;
    justify-content: center;
  }
.footer-column2-nav-block{
  display: flex;
  flex-direction: row;
  columns: 2;
  justify-content: space-between;
  gap: 100px;
}
  .footer-column2-nav-block ul {
    list-style: none;
    padding: 0;
  }

  .footer-column2-nav-block a {
    display: block;
    margin: 5px 0;
    text-decoration: none;
    color: white;
  }
.footer-column3-infos{
  display: flex;
  flex-direction: column;
  margin-left: 1px;
}
  .footer-column3-infos span {
    font-weight: bold;
    color: black;
    text-decoration: none;
  }

  .footer-column3-infos img {
    margin-top: 20px;
    width: 100px;
  }

  .sub-footer {
    display: flex;
    flex: 100%;
    background-color:black;
    text-align: start;
    font-weight: bold;
  }
